<!-- Sofor Toast -->
<p-toast [baseZIndex]="10000"></p-toast>

<!-- Sofor Dialog -->
<p-dialog [(visible)]="soforDialog" [style]="{width: '30%'}" position="top" [transitionOptions]="'250ms'"
    [draggable]="false" [resizable]="false" header="Şoför Detay" [modal]="true" styleClass="p-fluid"
    (onHide)="cancelSoforDialog()">
    <ng-template pTemplate="content">
        <form [formGroup]="soforForm">
            <div class="p-field p-col-12 p-md-2 mt-3">
                <span class="p-float-label">
                    <input type="text" formControlName="soforAdSoyad" pInputText id="soforAdSoyad" />
                    <label for="soforAdSoyad">Şoför AdSoyad<small class="p-error"
                            *ngIf="!soforForm.controls['soforAdSoyad'].valid">
                            (*zorunlu)</small> </label>
                </span>
            </div>
            <div class="p-field p-col-12 p-md-2 mt-2">
                <span class="p-float-label">
                    <input type="text" formControlName="soforTc" pInputText id="soforTc" />
                    <label for="soforTc">Şoför Tc</label>
                </span>
            </div>
            <div class="p-field p-col-12 p-md-2 mt-2">
                <span class="p-float-label">
                    <input type="text" formControlName="soforCep" pInputText id="soforCep" />
                    <label for="soforCep">Şoför Cep</label>
                </span>
            </div>
        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="İptal" icon="pi pi-times" class="p-button-sm p-button-outlined  p-button-info"
            (click)="cancelSoforDialog()"></button>
        <button pButton pRipple label="Kaydet" icon="pi pi-check" class="p-button-sm p-button-outlined  p-button-info"
            (click)="saveSoforDialog()"></button>
    </ng-template>
</p-dialog>

<!-- Sofor Confirm -->
<p-confirmDialog [style]="{width: '450px'}" position="top" [transitionOptions]="'250ms'"></p-confirmDialog>

<!-- Sofor Table -->
<p-panel header="Şoför Yönetimi" [style]="{'margin': '1em'}">
    <ng-template pTemplate="icons">
        <button pButton pRipple type="button" label="araçlar"
            class="p-button-sm p-button-rounded p-button-secondary p-button-text" [routerLink]="['/araclar']"></button>
        <button pButton pRipple type="button" label="güzergahlar"
            class="p-button-sm p-button-rounded p-button-secondary p-button-text"
            [routerLink]="['/guzergahlar']"></button>
        <button pButton pRipple type="button" label="kullanıcılar"
            class="p-button-sm p-button-rounded p-button-secondary p-button-text" [routerLink]="['/users']"></button>
        <button pButton pRipple type="button" icon="pi pi-times"
            class="p-button-sm p-button-rounded p-button-danger p-button-outlined" (click)="exit()"></button>
    </ng-template>
    <p-table #dtSofor dataKey="soforId" [value]="soforler" selectionMode="multiple" [(selection)]="selectedSoforler"
        [paginator]="true" [rows]="10" [showCurrentPageReport]="true" [loading]="loading"
        [rowsPerPageOptions]="[10, 20, 50, 100]" styleClass="p-datatable-sm" responsiveLayout="scroll"
        [globalFilterFields]="['soforId', 'soforAdi', 'soforLoc', 'firma']" [rowHover]="true" [scrollable]="true"
        scrollHeight="400px">
        <ng-template pTemplate="caption">
            <button pButton pRipple label="Ekle" icon="pi pi-plus"
                class="p-button-sm p-button-outlined p-button-rounded p-button-success" style="margin-right: 5px"
                (click)="soforDialog=true"></button>
            <button pButton pRipple label="Sil" icon="pi pi-trash"
                class="p-button-sm p-button-outlined p-button-rounded p-button-danger" style="margin-left: 5px"
                [disabled]="!selectedSoforler || !selectedSoforler.length" (click)="deleteAllSoforConfirm()"></button>
            <span class="p-input-icon-right" style="float: right;">
                <input pInputText type="text" class="p-inputtext-sm"
                    (input)="dtSofor.filterGlobal($event.target.value, 'contains')" placeholder="Ara" />
                <i class="pi pi-search"></i>
            </span>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="max-width: 4rem;">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th style="max-width: 7rem;">İşlemler</th>
                <th pSortableColumn="soforId">Şoför Id<p-sortIcon field="soforId"></p-sortIcon>
                </th>
                <th pSortableColumn="soforAdSoyad">Şoför AdSoyad<p-sortIcon field="soforAdSoyad">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="soforTc">Şoför Tc<p-sortIcon field="soforTc">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="soforCep">Şoför Cep<p-sortIcon field="soforCep">
                    </p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-sofor>
            <tr [pSelectableRow]="sofor">
                <td style="max-width: 4rem;">
                    <p-tableCheckbox [value]="sofor"></p-tableCheckbox>
                </td>
                <td style="max-width: 7rem">
                    <button pButton pRipple icon="pi pi-pencil"
                        class=" p-button-outlined p-button-rounded p-button-success"
                        style="margin-right: 5px; width: 2rem; height: 2rem;"
                        (click)="updateSoforButton(sofor)"></button>
                    <button pButton pRipple icon="pi pi-trash"
                        class=" p-button-outlined p-button-rounded p-button-danger"
                        style="margin-left: 5px; width: 2rem; height: 2rem"
                        (click)="deleteSoforConfirm(sofor)"></button>
                </td>
                <td>{{sofor.soforId}}</td>
                <td>{{sofor.soforAdSoyad}}</td>
                <td>{{sofor.soforTc}}</td>
                <td>{{sofor.soforCep}}</td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>